.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 98.75vw;
  height: 96px;
  padding: 32px;
  border-bottom: 2px solid #6a6363;
}

.logo img {
  height: 48px;
}

.welcome {
  display: flex;
  align-items: center;
  gap: 8px;
}

.welcome img {
  width: 30px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #6a6363;
}

.welcome strong {
  color: #fff;

  font-family: Roboto;
  font-size: 13px;
}
